<%- include("header") -%>

<h1 class="box" id="heading">About To-Do List</h1>
<p class="para">
    This is the version-1 of the To-Do List web application. <br>
    This app will be updated frequently to measure up to the latest version in the coming days.
</p>

 <%- include("footer") -%>